In [1]:
pwd

'e:\\two_stage_model\\data_processing\\Speed_Processing'

In [2]:
cd ..

e:\two_stage_model\data_processing

In [3]:
import pandas as pd
import numpy as np
import pickle
from tqdm import tqdm

In [4]:
# Hyper-parameters during Data Processing 

country_name = 'TSMO'
model_path = 'E:/two_stage_model'

## Part 1. Read Files

In [5]:
# TMC Speed Data
spd_record_all = pickle.load(open(f"{model_path}/data/{country_name}/processed_data/{country_name}_df_spd_tmc_5min_all_from_1_min.pkl", "rb"))

In [25]:
mask = pickle.load(open(f"{model_path}/data/{country_name}/processed_data/{country_name}_raw_Waze.pkl", "rb"))

In [26]:
speed_available_tmc_list = list(spd_record_all.columns)

In [30]:
spd_links = list(spd_record_all.columns)

In [31]:
inc_links = list(mask.columns)

In [32]:
select_links = list(set(spd_links)&set(inc_links))

In [34]:
len(select_links)

1431

In [35]:
spd_record_all = spd_record_all[select_links]
mask  = mask[select_links]

In [39]:
spd_record_all['day_of_week'] = spd_record_all.index.dayofweek
spd_record_all['time_of_day'] = spd_record_all.index.time
mask['day_of_week'] = mask.index.dayofweek
mask['time_of_day'] = mask.index.time

C:\Users\haowu\AppData\Local\Temp\ipykernel_297952\2040838635.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  spd_record_all['day_of_week'] = spd_record_all.index.dayofweek
C:\Users\haowu\AppData\Local\Temp\ipykernel_297952\2040838635.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  mask['day_of_week'] = mask.index.dayofweek
C:\Users\haowu\AppData\Local\Temp\ipykernel_297952\2040838635.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  mask['time_of_day'] =mask.index.time

In [42]:
mask

,110P55339,110P55709,110N09566,110+06173,110P12386,110-12735,110P14957,110P12743,110-06184,110P12700,...,110-05245,110P55679,110+12739,110-52811,110N12729,110+11779,110P12366,110P15081,day_of_week,time_of_day
2022-02-14 05:30:00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,05:30:00
2022-02-14 05:35:00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,05:35:00
2022-02-14 05:40:00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,05:40:00
2022-02-14 05:45:00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,05:45:00
2022-02-14 05:50:00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,05:50:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023-02-10 20:35:00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4,20:35:00
2023-02-10 20:40:00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4,20:40:00
2023-02-10 20:45:00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4,20:45:00
2023-02-10 20:50:00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4,20:50:00
2023-02-10 20:55:00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4,20:55:00

In [137]:
def calculate_average_with_mask(df, mask_df, number):
    results = []
    
    # 根据mask_df将df中mask为1的值替换为NaN
    df_with_nan = df.mask(mask_df == 1)
    
    for i in tqdm(range(len(df))):
        current_row = df.iloc[i]
        day_of_week = current_row['day_of_week']
        time_of_day = current_row['time_of_day']
        
        # 获取当前行之前的同一星期几和时间段的行
        previous_rows = df_with_nan[(df['day_of_week'] == day_of_week) & 
                                    (df['time_of_day'] == time_of_day) & 
                                    (df.index < df.index[i])]
        
        # 获取当前行之后的同一星期几和时间段的行
        subsequent_rows = df_with_nan[(df['day_of_week'] == day_of_week) & 
                                      (df['time_of_day'] == time_of_day) & 
                                      (df.index > df.index[i])]
        
        # 选择前两行或后两行
        if len(previous_rows) >=  number:
            average_rows = previous_rows.tail( number)
        elif len(subsequent_rows) >=  number and len(previous_rows)< number:
            average_rows = subsequent_rows.head( number)
        else:
            raise ValueError('Wrong! ')
        
        # 如果依然不足两行数据，则结果为NaN
        #if average_rows.dropna(how='all').shape[0] ==0:
        #    avg_values = [np.nan] * len(df.columns[:-2])
        #else:
        avg_values = average_rows.iloc[:, :-2].mean(skipna=True).values
        
        results.append(avg_values)
    
    # 创建一个新的DataFrame来保存结果
    avg_df = pd.DataFrame(results, columns=df.columns[:-2], index=df.index)
    return avg_df

In [142]:
mask_avg =  calculate_average_with_mask(spd_record_all, mask, 3)

100%|██████████| 48360/48360 [05:20<00:00, 151.08it/s]

In [143]:
mask_avg

tmc_code,110P55339,110P55709,110N09566,110+06173,110P12386,110-12735,110P14957,110P12743,110-06184,110P12700,...,110-06319,110P04419,110-05245,110P55679,110+12739,110-52811,110N12729,110+11779,110P12366,110P15081
measurement_tstamp,,,,,,,,,,,,,,,,,,,,,
2022-02-14 05:30:00,44.333333,48.863333,33.456667,50.066667,18.780000,29.173333,53.400000,14.000000,39.400000,32.166667,...,20.503333,67.333333,68.666667,34.736667,37.180000,31.136667,33.666667,30.926667,35.666667,56.396667
2022-02-14 05:35:00,44.666667,49.170000,31.590000,51.253333,18.333333,30.046667,55.766667,14.000000,44.760000,30.333333,...,21.286667,65.000000,66.133333,37.333333,36.446667,30.000000,33.666667,26.400000,35.666667,55.016667
2022-02-14 05:40:00,44.666667,49.733333,29.463333,49.863333,18.333333,32.000000,56.810000,14.000000,42.000000,30.333333,...,26.666667,69.666667,66.666667,35.813333,35.730000,30.000000,33.390000,20.860000,35.666667,56.943333
2022-02-14 05:45:00,44.666667,49.266667,31.460000,50.853333,20.373333,32.696667,57.396667,14.000000,42.976667,29.986667,...,22.796667,69.000000,63.466667,32.186667,35.856667,28.813333,36.333333,28.306667,35.666667,57.456667
2022-02-14 05:50:00,44.000000,48.666667,27.426667,43.666667,21.000000,33.666667,56.776667,14.000000,42.120000,30.000000,...,24.386667,68.333333,63.126667,32.040000,35.333333,28.396667,35.253333,27.550000,35.666667,58.423333
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023-02-10 20:35:00,38.400000,44.796667,24.433333,44.000000,20.146667,25.613333,55.716667,17.666667,42.666667,23.863333,...,15.000000,64.666667,62.666667,27.393333,34.233333,25.333333,29.000000,25.190000,39.193333,52.226667
2023-02-10 20:40:00,38.530000,45.523333,24.333333,45.040000,19.000000,26.773333,57.233333,18.723333,39.913333,25.433333,...,19.440000,70.000000,63.666667,27.450000,34.900000,25.116667,29.000000,31.000000,39.553333,50.333333
2023-02-10 20:45:00,37.026667,45.583333,31.246667,44.000000,19.776667,27.976667,57.613333,24.333333,30.066667,21.000000,...,16.000000,60.000000,61.000000,27.653333,36.180000,24.666667,29.000000,31.796667,41.000000,50.960000
2023-02-10 20:50:00,36.243333,46.660000,31.490000,45.666667,20.853333,27.936667,56.466667,24.333333,40.333333,21.390000,...,18.333333,46.666667,58.066667,29.390000,34.323333,24.666667,29.000000,28.730000,39.640000,48.706667
2023-02-10 20:55:00,36.390000,46.800000,32.333333,44.390000,20.796667,27.656667,53.340000,24.333333,41.256667,23.053333,...,25.100000,72.333333,67.333333,29.426667,36.890000,25.530000,29.000000,30.123333,40.333333,49.460000

In [144]:
total_nan = mask_avg.isna().sum().sum()

In [145]:
total_nan

26

In [157]:
def fill_nan_with_nearest_date(df):
    # Ensure 'date' column exists in the DataFrame
    if 'date' not in df.columns:
        df['date'] = df.index.date
    
    # Group by 'date'
    grouped = df.groupby('date')

    # Apply forward fill and backward fill within each group
    filled_df = grouped.apply(lambda group: group.ffill().bfill())

    # Drop the 'date' column as it is no longer needed
    filled_df = filled_df.drop(columns=['date'])

    filled_df = filled_df.reset_index(level='date', drop=True)
    
    return filled_df

In [158]:
no_nan_mask_avg = fill_nan_with_nearest_date(mask_avg)

In [159]:
no_nan_mask_avg

tmc_code,110P55339,110P55709,110N09566,110+06173,110P12386,110-12735,110P14957,110P12743,110-06184,110P12700,...,110P04419,110-05245,110P55679,110+12739,110-52811,110N12729,110+11779,110P12366,110P15081,time_of_day
measurement_tstamp,,,,,,,,,,,,,,,,,,,,,
2022-02-14 05:30:00,44.333333,48.863333,33.456667,50.066667,18.780000,29.173333,53.400000,14.000000,39.400000,32.166667,...,67.333333,68.666667,34.736667,37.180000,31.136667,33.666667,30.926667,35.666667,56.396667,05:30:00
2022-02-14 05:35:00,44.666667,49.170000,31.590000,51.253333,18.333333,30.046667,55.766667,14.000000,44.760000,30.333333,...,65.000000,66.133333,37.333333,36.446667,30.000000,33.666667,26.400000,35.666667,55.016667,05:35:00
2022-02-14 05:40:00,44.666667,49.733333,29.463333,49.863333,18.333333,32.000000,56.810000,14.000000,42.000000,30.333333,...,69.666667,66.666667,35.813333,35.730000,30.000000,33.390000,20.860000,35.666667,56.943333,05:40:00
2022-02-14 05:45:00,44.666667,49.266667,31.460000,50.853333,20.373333,32.696667,57.396667,14.000000,42.976667,29.986667,...,69.000000,63.466667,32.186667,35.856667,28.813333,36.333333,28.306667,35.666667,57.456667,05:45:00
2022-02-14 05:50:00,44.000000,48.666667,27.426667,43.666667,21.000000,33.666667,56.776667,14.000000,42.120000,30.000000,...,68.333333,63.126667,32.040000,35.333333,28.396667,35.253333,27.550000,35.666667,58.423333,05:50:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023-02-10 20:35:00,38.400000,44.796667,24.433333,44.000000,20.146667,25.613333,55.716667,17.666667,42.666667,23.863333,...,64.666667,62.666667,27.393333,34.233333,25.333333,29.000000,25.190000,39.193333,52.226667,20:35:00
2023-02-10 20:40:00,38.530000,45.523333,24.333333,45.040000,19.000000,26.773333,57.233333,18.723333,39.913333,25.433333,...,70.000000,63.666667,27.450000,34.900000,25.116667,29.000000,31.000000,39.553333,50.333333,20:40:00
2023-02-10 20:45:00,37.026667,45.583333,31.246667,44.000000,19.776667,27.976667,57.613333,24.333333,30.066667,21.000000,...,60.000000,61.000000,27.653333,36.180000,24.666667,29.000000,31.796667,41.000000,50.960000,20:45:00
2023-02-10 20:50:00,36.243333,46.660000,31.490000,45.666667,20.853333,27.936667,56.466667,24.333333,40.333333,21.390000,...,46.666667,58.066667,29.390000,34.323333,24.666667,29.000000,28.730000,39.640000,48.706667,20:50:00
2023-02-10 20:55:00,36.390000,46.800000,32.333333,44.390000,20.796667,27.656667,53.340000,24.333333,41.256667,23.053333,...,72.333333,67.333333,29.426667,36.890000,25.530000,29.000000,30.123333,40.333333,49.460000,20:55:00

In [160]:
total_nan = no_nan_mask_avg.isna().sum().sum()

In [161]:
total_nan

0

In [163]:
pickle.dump(mask_avg, open(f"{model_path}/data/{country_name}/processed_data/{country_name}_recurrent_ha_nan.pkl", "wb"))

In [162]:
pickle.dump(no_nan_mask_avg, open(f"{model_path}/data/{country_name}/processed_data/{country_name}_recurrent_ha_no_nan.pkl", "wb"))